body {
    font-family: Arial, sans-serif;
    background-color: #909891;
    color: #222;
    margin: 3vw;
}

h1{
    color: #000;
}

ul {
    padding: 20px;
    border-radius: 20px;
    background-color: #abafa0;
    list-style-type: none;

}
li {
    padding: 2px;
}